*{
	margin: 0;
	padding: 0;
}

header.menu-superior{		
	background-color: #cccccc;
	position: fixed;
	top: 0;
	width: 100%;
	height: 80px;
}

header.menu-superior > nav > ul{
	list-style: none;	
}

header.menu-superior > nav > ul > li{
	display: inline-block;	
	border: solid 1px #cccccc;
}

header.menu-superior > nav > ul > li > a{
	color: #000;
	text-decoration: none;
	background-color: #FFF;
	padding: 10px 15px;
	display: block;
}

/* .fixo-top{
	max-height: 50px;
} */

section.painel{	
	min-height: 650px;
	width: 100%;	
}

section.painel > h1{
	text-align: center;
	padding: 100px; /* Um pouco maior que o header */
	
}